doctype html
html(lang='en')
	head
		title Contribute!
		link(rel="stylesheet" href="./views/index.css")
		
	body
		include ../views/partials/header

		h1 Contribute!
		a(href="/addmovie")
			img#addMovieImg(src="./views/images/addMovie.png")
		a(href="/addperson")
			img#addPersonImg(src="./views/images/addPerson.png")